*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500;
  background-color: #FAFAFA;
}

/* ----------------------------------------------------------------------------- */
/* SERVICE */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  /* 2 строки про флексы, чтобы прибить футер к низу
  альтернатива: margin top */
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1046px;
  /* чтобы на узких экранах не было
  прилипания шапки */
  padding: 0px 15px;
  /* чтобы контент был по середине */
  margin: 0px auto;
  /* изменили, чтобы паддинги ВКЛЮЧАЛИСЬ
  в общую ширину */
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ----------------------------------------------------------------------------- */
/* HEADER */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 16px;
  font-weight: 700;
  color: inherit;
}

.header__menu {
  margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  /* отступ "безопасности" на узком экране
  и при кол-ве элементов меню ~> 8 */
  padding: 5px 0px;
}

.menu_list {
  display: flex;
  /* чтобы на узких экранах флексы стакались */
  flex-wrap: wrap;
}

.menu_item {}

/* чтобы отступы были у всего, кроме
последнего элемента */
.menu_item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu_link {
  color: #737373;
  /* если перенести в menu__item,
  то ничего не изменится */
  line-height: calc(24 / 14 * 100%);
  font-weight: 600;
}

@media (max-width: 479px) {
  .menu_link {
    font-size: 18px;
  }
}

/* ----------------------------------------------------------------------------- */
/* PAGE */
.page {
  flex: 1 1 auto;
}

.page__main-block {}

.page__services {
  /* пока не сделал position relative
  блок был ЗА фоном */
  position: relative;
  z-index: 2;
  margin-top: -111px;
}

.page__advantages {}

.page__advices {}

.page__whoweare {}

/* ----------------------------------------------------------------------------- */
/* HEADER BLOCK */

.header-block {
  text-align: center;
}

.header-block__title {
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
  letter-spacing: 0.2px;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (max-width:767px) {
  .header-block__title {
    font-size: 30px;
  }
}

@media (max-width:992px) {
  .header-block__title {
    font-size: 35px;
  }
}

.header-block__sub-title {
  color: #737373;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: calc(20 / 14 * 100%);
}

/* ----------------------------------------------------------------------------- */
/* MAIN BLOCK */

.main-block {
  position: relative;
}

.main-block__container {}

.main-block__body {
  padding-top: 184px;
  padding-bottom: 191px;
  position: relative;
  z-index: 2;
}

@media (max-width: 992px) {
  .main-block__body {
    padding-top: 120px;
  }
}

@media (max-width: 479px) {
  .main-block__body {
    padding-top: 115px;
    padding-bottom: 160px;
  }
}

/* все элементы 1 уровня в __body
за исключением последнего элемента */
.main-block__body>*:not(:last-child) {
  margin-bottom: 35px;
}

.main-block__title {
  font-size: 58px;
  max-width: 509px;
  font-weight: 800;
  line-height: calc(80 / 58 * 100%);
  letter-spacing: 0.2px;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  max-width: 376px;
  line-height: calc(30 / 20 * 100%);
}

@media (max-width:992px) {
  .main-block__text {
    color: #252b42;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  /* чтобы были отступы на маленьком экране */
  margin-top: -10px;
  margin-bottom: -10px;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width не нужен, так как накинули padding */
  padding: 10px 36px;
  min-height: 48px;
  letter-spacing: 0.2px;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(28 / 14 * 100%);
  /* вообще не нужно для макета,
  накинули для ситуации,
  когда текста много будет */
  text-align: center;
  /* чтобы были отступы на маленьком экране,
  но пр этом не съехали на большом*/
  margin-top: 10px;
  margin-bottom: 10px;
}

/* имба, кнопки расширяются под размер экрана */
@media (max-width:479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

/* mobile first
отступ только на больши экранах,
сделал после имбы выше */
@media (min-width:479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  color: #FFFFFF;
  background: #FF7B47;
}

.main-block__button_border {
  color: #0D5C63;
  border: 1px solid #0D5C63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* чтобы люди на фотке не съезжали */
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/* ----------------------------------------------------------------------------- */
/* SERVICES BLOCK */

.services {}

.services__container {}

.services__body {}

@media (min-width:670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.services__column {
  /* альтернатива:
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 33.333%; */
  flex: 0 1 33.333%;
}

@media (min-width:670px) {
  .services__column {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width:992px) {
  .services__column:not(:last-child) {
    margin-bottom: 30px;
  }

  .services__column {
    flex: 0 1 50%;
  }

  /* вторая имба, чтобы 3ий элемент
  растягивался по в полную ширину контейнера */
  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  /* посчитал ширину при 992 px
  (при таком разрешении блоки начинают сужаться)
  сделал ее минимальной и выше накинул
  flex wrap: wrap, чтобы при шрине блока
  меньше 300px -> флексы врапались ниже*/
  /* min-width: 300px; */
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #FFFFFF;
  padding: 35px;
}

@media (max-width:479px) {
  .services__item {
    padding: 25px;
  }
}

.item-service {}

.item-service_green {
  background-color: #0D5C63
}

.item-service_green .item-service__title {
  color: #FFFFFF
}

.item-service_green .item-service__text {
  color: #FFFFFF
}

.item-service>*:not(:last-child) {
  margin-bottom: 10px;
}

.item-service__icon {}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: calc(32 / 24 * 100%);
}

.item-service__text {
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: calc(20 / 14 * 100%);
  color: #737373;
}

/* ----------------------------------------------------------------------------- */
/* ADVANTAGES */

.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width:767px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width:992px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.advantages__container {}

.advantages__header {
  margin-bottom: 50px;
}

@media (max-width:767px) {
  .advantages__header {
    margin-bottom: 25px;
  }
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;
}

.advantages__column {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  flex: 0 1 25%;
}

@media (max-width:1075px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}

@media (max-width:560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background-color: #FFFFFF;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  height: 100%;
  font-weight: 700;
}

.item-advantage {}

.item-advantage>*:not(:last-child) {
  margin-bottom: 10px;
}

.item-advantage__icon {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-advantage__title {
  font-size: 40px;
  letter-spacing: 0.2px;
  line-height: calc(57 / 40 * 100%);
}

.item-advantage__text {
  color: #737373;
  letter-spacing: 0.1px;
  line-height: calc(24 / 16 * 100%);
  font-size: 16px;
}

/* ----------------------------------------------------------------------------- */
/* ADVICES */

.advices {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width:767px) {
  .advices {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width:992px) {
  .advices {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.advices__container {}

.advices__header {
  padding: 45px 0px;
}

@media (max-width:992px) {
  .advices__header {
    padding: 35px 0px;
  }
}

.advices__body {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;
}

.advices__column {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  flex: 0 1 25%;
}

@media (max-width:1075px) {
  .advices__column {
    flex: 0 1 50%;
  }
}

@media (max-width:560px) {
  .advices__column {
    flex: 0 1 100%;
  }
}

.advices__item {}

.item-advice {
  background-color: #FFFFFF;
  /* это и flex в item-advice__header
  нужны, чтобы картинка всегда была внизу
  своеобразный лайфхоку
  вместо четко заданной ширины - прям норм*/
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item-advice__header {
  flex: 1 1 auto;
}

.advice-header {
  padding: 30px;
}

.advice-header>*:not(:last-child) {
  margin-bottom: 10px;
}

.advice-header__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: calc(24 / 16 * 100%);
}

.advice-header__text {
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: calc(20 / 14 * 100%);
}

.item-advice__img {
  display: block;
  /* картинка на макете размером
  230 в ширину и 138 в высоту.
  делим в на ш и умножаем на 100*/
  padding-bottom: 60%;
}

/* ----------------------------------------------------------------------------- */
/* WHO WE ARE */

.whoweare {
  padding-top: 80px;
  padding-bottom: 130px;
}

@media (max-width:767px) {
  .whoweare {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width:992px) {
  .whoweare {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.whoweare__container {}

.whoweare__header {
  padding: 45px 0px;
  margin-bottom: 100px;
}

@media (max-width:992px) {
  .whoweare__header {
    padding: 35px 0px;
  }
}

.whoweare__body {
  display: flex;
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  /* когда у нас флекс элемент является
  и контентным, и структурным элементом,
  то процентный паддинг будет считаться
  от ширины контейнера, а не флекс контейнера */
  /* кароч, поделили ширину видео с макета на
  ширину всего _container */
  padding-bottom: 42.25%;
}

.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding-left: 121px;
}

.whoweare__title {
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: 40px;
  line-height: calc(57 / 40 * 100%);
}

/* если тайтл не последний элемент,
то делает отсутпы вниз */
.whoweare__title:not(:last-child) {
  margin-bottom: 10px;
}

.whoweare__text {
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: calc(20 / 14 * 100%);
  color: #737373;
}

.whoweare__items {
  margin-top: 50px;
}

.whoweare__item {}

.item-whoweare {}

.item-whoweare__icon {}

.item-whoweare__body {}

.item-whoweare__title {}

.item-whoweare__text {}

/* ----------------------------------------------------------------------------- */
/* FOOTER */
.footer {}